body { padding-top: 50px; background-color: #FFF; }
.starter-template { padding: 40px 15px; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-inverse { background-color: #bee4f7; border-color: #A5A5A5;}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav>li>a { color: #344771; }
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus { background-color: #0093cd;}

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand { font-weight: bold; }
.navbar-inverse .btn-navbar,
.navbar-inverse .btn-navbar:hover { background-color: #333; }

.ng-cloak { display: none !important; }

select > option { color: black; }
input.form-control,
select.form-control,
textarea.form-control { display: inline; display: block; width: 50%; max-width: 30em; }

/*#region Splash */
#splash-page { z-index: 99999 !important;}
.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.spinner { margin: 40px auto 0 auto; left: auto; top: auto !important; }

table th > a { font-weight: bold; }

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th { cursor: pointer; }

/*#region wrapper for angular ng-include and ng-view animations*/
.view-container { position: relative; overflow: hidden; }


.tab-content { padding-top: 15px; }
.latest-matches-container {padding-top: 30px;}
.latest-matches-container .match {padding: 5px 0; position: relative; line-height: 20px; height: 70px; margin-bottom: 5px; border-bottom: 1px solid #d1d1d1;}
.match.last {border: none;}
.match .score {text-align: center; position: relative; text-decoration: none;}
.match .score .score-result {color: #45a3cc; font-size: 20px;}
.match .team { height: 60px; width: 44%; position: absolute;}
.match .team .team-name span{display: table-cell; vertical-align: middle; height:60px; font-size: 16px; line-height: 16px;}
.match .home { left:0; }
.match .away { right:0; }
.match .home .team-image {left:0; position: absolute;}
.match .home .team-name {left:0; text-align: left; margin-left: 65px; position: absolute;}
.match .away .team-image {right:0; position: absolute;}
.match .away .team-name {right:0; text-align: left; margin-right: 65px; margin-left:0; text-align: right; position: absolute;}

.brackets-wrap table th, .brackets-wrap table td {width: 260px;}
.brackets-wrap table td.round-col { padding: 15px 0; float: none; display: table-cell; text-align: center; }
.brackets-wrap table td.round-col .match-wrap { margin-right: 8px; }
.brackets-wrap table td.round-col .match-wrap.first { margin-top: 0px !important; }
.brackets-wrap table td.round-col .match-wrap .team .round-match-info { position: absolute; left:0; right: 0; display: block; background: #ddd; font-size: 14px; padding: 8px 8px; }
.brackets-wrap table td.round-col .match-wrap .team.away .round-match-info { bottom: 0;}

.brackets-wrap table td.round-col.round-1 .match-wrap { margin-top: 20px; }
.brackets-wrap table td.round-col.round-1 .match-wrap .team { position: relative; height: 82px; border-right: 8px solid #ddd; }

.brackets-wrap table td.round-col.round-2 { padding: 80px 0;}
.brackets-wrap table td.round-col.round-2 .match-wrap { margin-top: 150px; }
.brackets-wrap table td.round-col.round-2 .match-wrap .team { position: relative; height: 108px; border-right: 8px solid #ddd; }

.brackets-wrap table td.round-col.round-3 { padding: 170px 0;}
.brackets-wrap table td.round-col.round-3 .match-wrap { margin-top: 335px; }
.brackets-wrap table td.round-col.round-3 .match-wrap .team { position: relative; height: 200px; border-right: 8px solid #ddd; }

.brackets-wrap table td.round-col.round-4 { padding: 350px 0;}
.brackets-wrap table td.round-col.round-4 .match-wrap { margin-top: 20px; }
.brackets-wrap table td.round-col.round-4 .match-wrap .team { position: relative; height: 390px; border-right: 8px solid #ddd; }


.carousel-control,.carousel-control:hover {color:#333; height: 30px; background: none !important;}
.carousel-indicators {top: 10px; height: 20px;}
.carousel-indicators li {border: 1px solid #3A3A3A;}
.carousel-indicators .active {background-color: #929292;}

.pager-info p { margin: 20px 0; line-height: 2; }

#team-view .team-logo { width: 30px; margin-right: 10px;}
#team-view .basic-info span { display: inline-block;}
#team-view #player-list tr td {vertical-align: middle;}

#matches-view .match {padding: 20px 15px;}
#matches-view .match .home .team-name {margin-left: 70px;}
#matches-view .match .home .team-image {left: 5px;}
#matches-view .match .away .team-name {margin-right: 70px;}
#matches-view .match .away .team-image {right: 5px;}

#match-view .team, #match-view .match-info {text-align: center;}
#match-view .match-info .match-score {font-size: 50px; font-weight: bold; color: #45a3cc; padding: 25px 0;}
#match-view .match-info .match-score span {font-size: 30px;}
#match-view .match-info .match-date {font-size: 20px; margin-top: 20px;}

#players-view #top-scorers tr {cursor: pointer;}
#players-view #top-scorers .player-image { text-align: center;}
#players-view #top-scorers dl  {margin: 0 auto;}
.page-splash-wc-logo {
    background: url('../images/worldcup.png') 50% 50% no-repeat; 
    width: 200px; 
    height: 250px;
    margin: 20% auto 0 auto;

    }
.logo-container {text-align: center;}

#forkongithub a{background:#97be65;color:#FFF;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}
#forkongithub a:hover{background:#45a5cd;color:#fff;}
#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}
#forkongithub a::after{bottom:1px;top:auto;}
@media screen and (min-width:800px){
    #forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}
    #forkongithub a{width:200px;position:absolute;top:40px;right:-40px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
        }
    }


/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
/*#endregion*/

/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

    .fader-animation.ng-enter.ng-enter-active {
        opacity: 1;
    }

.fader-animation.ng-move {
  opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity:1;
}

/*#endregion*/

/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    position: fixed !important;
    display: inline !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#endregion */