<section id="dashboard-view" class="mainbar" >
<div class="container-fluid">
	<div class="page-header">
	  <h1>Dashboard</h1>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Latest Matches</div>
				<div class="panel-body">
				<div style="position: relative; height: auto">
					<carousel id="latest-matches" interval="vm.carouselInterval" disable-ng-animate>
						<slide ng-repeat="(date, matches) in vm.matchesByDate" active="matches.active">
							<div class="latest-matches-container">
								<h4>{{date}}</h4>
								<div class="col-xs-12 match" ng-repeat="match in matches" ng-class="{'last': $last}">
									<div class="team home">
										<div class="team-image">
											<img src="{{match.home.logo}}" height="60px"/>
										</div>
										<div class="team-name">
											<span>{{match.home.name}}</span>
										</div>
									</div>
									<div class="team away">
										<div class="team-image">
											<img src="{{match.away.logo}}" height="60px"/>
										</div>
										<div class="team-name">
											<span>{{match.away.name}}</span>
										</div>										
									</div>
									<div class="score">
										<div class="fixture">
											<div class="score-status">{{match.status}}</div>
											<div class="score-result">{{match.homeScore}} - {{match.awayScore}}</div>
										</div>
									</div>
								</div>
							</div>
						</slide>
					</carousel>
					<!--end of latest matches-->
				</div>
				</div>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<!--Tabs-->
			<tabset>
				<tab heading="Group Stage">
					<div class="row" ng-repeat="groups in vm.groupKeys | partition:3">
						<div class="col-md-4" ng-repeat="group in groups">
							<div class="panel panel-primary">
								<div class="panel-heading">Group {{group}}</div>
								<!-- Table -->
								<table class="table">
									<thead>
										<tr>
											<th>Team</th>
											<th>W</th>
											<th>D</th>
											<th>L</th>
											<th>Pts</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="team in vm.groups[group]">
											<td><img src="{{team.logo}}" width="20px"/> <a href="#/teams/{{team.name}}">{{team.name}}</a></td>
											<td>{{team.wins}}</td>
											<td>{{team.draws}}</td>
											<td>{{team.losses}}</td>
											<td>{{team.groupPoints}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</tab>
				<tab heading="Bracket">
					Bracket
				</tab>
			</tabset>				
			<!--/Tabs-->			
		</div>		
	</div>
</div>
</section>